@import "tailwindcss";

@layer utilities {
  .scrollbar-custom::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background-color: lightgray;
    border-radius: 100px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: rgb(167, 167, 167);
    border-radius: 100px;
    transition: background-color 0.2s;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #94a3b8;
  }

  @keyframes slide-in-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  .animate-slide-in-right {
    animation: slide-in-right 0.3s ease-out;
  }
}
